/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-ovxqg3ztgw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ovxqg3ztgw] {
    flex: 1;
}


@media (max-width: 640.98px) {
    .top-row[b-ovxqg3ztgw] {
        justify-content: space-between;
    }

    .top-row[b-ovxqg3ztgw]  a, .top-row[b-ovxqg3ztgw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ovxqg3ztgw] {
        flex-direction: row;
    }

    .sidebar[b-ovxqg3ztgw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ovxqg3ztgw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ovxqg3ztgw]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ovxqg3ztgw], article[b-ovxqg3ztgw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/PF2Print.razor.rz.scp.css */




@media print {
    table[b-ck6ge0akvv] {
        break-inside: avoid;
    }
    thead[b-ck6ge0akvv] {
        display: table-header-group;
    }
}
/* /Pages/Print.razor.rz.scp.css */




@media print {
    table[b-qgzn3nbhx4] {
        break-inside: avoid;
    }
    thead[b-qgzn3nbhx4] {
        display: table-header-group;
    }
}
